<html>
<head>
    <title>List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post" action="main">
            <input type="text" name="name" placeholder="Project name">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="text" placeholder="Text">
            <input type="text" name="lang" placeholder="Lang">
            <input type="text" name="link" placeholder="Link">
            <button type="Submit">Add</button>
        </form>
        <form method="post" action="filter">
            <input type="text" name="filter">
            <button type="submit">Find</button>
        </form>
    </div>
    <div>Project list</div>
    {{#projects}}
        <div>
            <table>
            <b> {{id}}</b>
            <span>{{name}}</span>
            <span>{{title}}</span>
            <span>{{text}}</span>
            <i>{{lang}}</i>
            <a href="{{link}}"> Link</a>
            </table>
        </div>
    {{/projects}}
</body>
</html>

